@model CledAcademy.Web.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Ana Səhifə";
}

<!-- Revolution Slider 5.x CSS settings -->
<link href="~/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
<link href="~/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
<link href="~/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />

<!-- Revolution Slider 5.x SCRIPTS -->
<script src="~/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="~/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

<!-- Start main-content -->
<div class="main-content">

    <!-- Section: home -->
    <section id="home">
        <div class="container-fluid p-0">

            <!-- Slider Revolution Start -->
            <div class="rev_slider_wrapper">
                <div class="rev_slider" data-version="5.0">
                    <ul>

                        <!-- SLIDE 1 -->
                        <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="http://placehold.it/1920x1280" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/bg3.jpg" alt="" data-bgposition="center 10%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                                 id="rs-1-layer-1"
                                 data-x="['left']"
                                 data-hoffset="['30']"
                                 data-y="['middle']"
                                 data-voffset="['-110']"
                                 data-fontsize="['100']"
                                 data-lineheight="['110']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:700;">
                                MAGİSTRATURA
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent border-left-theme-color-2-6px pl-20 pr-20"
                                 id="rs-1-layer-2"
                                 data-x="['left']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['-25']"
                                 data-fontsize="['35']"
                                 data-lineheight="['54']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:600;">
                                ONLAYN VİDEO DƏRSLƏR
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-white"
                                 id="rs-1-layer-3"
                                 data-x="['left']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['35']"
                                 data-fontsize="['16']"
                                 data-lineheight="['28']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:0; font-weight:400;">
                                Biz daim tələbələrin məmnuniyyəti və onlayn təhsilin inkişafı üçün çalışırıq<br>və bunun üçün əlimizdən gələnin ən yaxşısını etməyə çalışırıq.
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption tp-resizeme"
                                 id="rs-1-layer-4"
                                 data-x="['left']"
                                 data-hoffset="['35']"
                                 data-y="['middle']"
                                 data-voffset="['100']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing: 1px;">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="btn btn-colored btn-lg btn-flat btn-theme-colored border-left-theme-color-2-6px pl-20 pr-20" asp-controller="Courses" asp-action="Index">İlk Dərsi Pulsuz İzlə</a>
                                }
                                else
                                {
                                    <a class="btn btn-colored btn-lg btn-flat btn-theme-colored border-left-theme-color-2-6px pl-20 pr-20" asp-controller="Account" asp-action="Register">Bizə Qoşul və Vaxta Qənaət Et!</a>
                                }

                            </div>
                        </li>

                        <!-- SLIDE 2 -->
                        <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="http://placehold.it/1920x1280" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/images/bg2.jpg" alt="" data-bgposition="center 40%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme text-uppercase  bg-dark-transparent-5 text-white font-raleway border-left-theme-color-2-6px border-right-theme-color-2-6px pl-30 pr-30"
                                 id="rs-2-layer-1"
                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['-90']"
                                 data-fontsize="['28']"
                                 data-lineheight="['54']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:400; border-radius: 30px;">
                                BİLİKLƏRİNİZİ ARTIRIN
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme text-uppercase bg-theme-colored-transparent text-white font-raleway pl-30 pr-30"
                                 id="rs-2-layer-2"
                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['-20']"
                                 data-fontsize="['48']"
                                 data-lineheight="['70']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1000"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 7; white-space: nowrap; font-weight:700; border-radius: 30px;">
                                ONLİNE TƏHSİL PLATFORMASI
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-white text-center"
                                 id="rs-2-layer-3"
                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['50']"
                                 data-fontsize="['16']"
                                 data-lineheight="['28']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;s:500"
                                 data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                                 data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing:0; font-weight:400;">
                                Hər bir fənnə uyğun testlərin izahı üzərində qurulmuş video dərslər<br> və bilikləriniz yoxlamaq üçün testlər.
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption tp-resizeme"
                                 id="rs-2-layer-4"
                                 data-x="['center']"
                                 data-hoffset="['0']"
                                 data-y="['middle']"
                                 data-voffset="['115']"
                                 data-width="none"
                                 data-height="none"
                                 data-whitespace="nowrap"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                 data-start="1400"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-responsive_offset="on"
                                 style="z-index: 5; white-space: nowrap; letter-spacing: 1px;">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="btn btn-default btn-circled btn-transparent pl-20 pr-20" asp-controller="Home" asp-action="Test">Testlərlə Özünüzü Sınayın!</a>
                                }
                                else
                                {
                                    <a class="btn btn-default btn-circled btn-transparent pl-20 pr-20" asp-controller="Account" asp-action="Register">Elə İndi Pulsuz Bizə Qoşul!</a>
                                }
                            </div>
                        </li>

                    </ul>
                </div><!-- end .rev_slider -->
            </div>
            <!-- end .rev_slider_wrapper -->
            <script>
                $(document).ready(function () {
                    var revapi = $(".rev_slider").revolution({
                        sliderType: "standard",
                        jsFileLocation: "/js/revolution-slider/js/",
                        sliderLayout: "auto",
                        dottedOverlay: "none",
                        delay: 5000,
                        navigation: {
                            keyboardNavigation: "off",
                            keyboard_direction: "horizontal",
                            mouseScrollNavigation: "off",
                            onHoverStop: "off",
                            touch: {
                                touchenabled: "on",
                                swipe_threshold: 75,
                                swipe_min_touches: 1,
                                swipe_direction: "horizontal",
                                drag_block_vertical: false
                            },
                            arrows: {
                                style: "gyges",
                                enable: true,
                                hide_onmobile: false,
                                hide_onleave: true,
                                hide_delay: 200,
                                hide_delay_mobile: 1200,
                                tmp: '',
                                left: {
                                    h_align: "left",
                                    v_align: "center",
                                    h_offset: 0,
                                    v_offset: 0
                                },
                                right: {
                                    h_align: "right",
                                    v_align: "center",
                                    h_offset: 0,
                                    v_offset: 0
                                }
                            },
                            bullets: {
                                enable: true,
                                hide_onmobile: true,
                                hide_under: 800,
                                style: "hebe",
                                hide_onleave: false,
                                direction: "horizontal",
                                h_align: "center",
                                v_align: "bottom",
                                h_offset: 0,
                                v_offset: 30,
                                space: 5,
                                tmp: '<span class="tp-bullet-image"></span><span class="tp-bullet-imageoverlay"></span><span class="tp-bullet-title"></span>'
                            }
                        },
                        responsiveLevels: [1240, 1024, 778],
                        visibilityLevels: [1240, 1024, 778],
                        gridwidth: [1170, 1024, 778, 480],
                        gridheight: [620, 768, 960, 720],
                        lazyType: "none",
                        parallax: "mouse",
                        parallaxBgFreeze: "off",
                        parallaxLevels: [2, 3, 4, 5, 6, 7, 8, 9, 10, 1],
                        shadow: 0,
                        spinner: "off",
                        stopLoop: "on",
                        stopAfterLoops: 0,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        fullScreenAutoWidth: "off",
                        fullScreenAlignForce: "off",
                        fullScreenOffsetContainer: "",
                        fullScreenOffset: "0",
                        hideThumbsOnMobile: "off",
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        debugMode: false,
                        fallbacks: {
                            simplifyAll: "off",
                            nextSlideOnWindowFocus: "off",
                            disableFocusListener: false
                        }
                    });
                });
            </script>
            <!-- Slider Revolution Ends -->
        </div>
    </section>

    <!-- Section: home-boxes -->
    <section class="">
        <div class="container pt-0 pb-0">
            <div class="section-content">
                <div class="row" data-margin-top="-70px">
                    <div class="col-sm-12 col-md-4">
                        <div class="card effect__hover">
                            <div class="card__front border-3px bg-lighter">
                                <div class="card__text">
                                    <div class="display-table-parent">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <div class="icon-box mb-0">
                                                    <a href="#" class="icon mb-0">
                                                        <i class="text-theme-colored pe-7s-phone font-72"></i>
                                                    </a>
                                                    <h3 class="icon-box-title text-theme-colored">Video Dərslər</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card__back" data-bg-color="#202c45">
                                <div class="card__text">
                                    <div class="display-table-parent p-30">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <h3 class="text-theme-color-2">Video Dərslər</h3>
                                                <p class="text-gray-lightgray">Artıq siz evinizdə oturaraq, onlayn olaraq magistraturaya hazırlaşa bilərsiniz. Onlayn təhsilin bütün imkanlarını sizin ayağınıza gətiririk.</p>
                                                <a asp-controller="Courses" asp-action="Index" class="btn btn-default mt-10"> Daha Ətraflı </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /flip-box -->
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="card effect__hover">
                            <div class="card__front border-3px bg-lighter">
                                <div class="card__text">
                                    <div class="display-table-parent">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <div class="icon-box mb-0">
                                                    <a href="#" class="icon mb-0">
                                                        <i class="text-theme-colored pe-7s-users font-72"></i>
                                                    </a>
                                                    <h3 class="icon-box-title text-theme-colored">Təcrübəli Müəllimlər</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card__back" data-bg-color="#202c45">
                                <div class="card__text">
                                    <div class="display-table-parent p-30">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <h3 class="text-theme-color-2">Təcrübəli Müəllimlər</h3>
                                                <p class="text-gray-lightgray">Dərslərimiz öz sahəsində kifayət qədər təcrübəyə malik müəllimlər tərəfindən keçirilir və anlaşıqlı dildə izah olunur</p>
                                                <a href="#" class="btn btn-default mt-10"> Daha Ətraflı </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /flip-box -->
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="card effect__hover">
                            <div class="card__front border-3px bg-lighter">
                                <div class="card__text">
                                    <div class="display-table-parent">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <div class="icon-box mb-0">
                                                    <a href="#" class="icon mb-0">
                                                        <i class="text-theme-colored pe-7s-note2 font-72"></i>
                                                    </a>
                                                    <h3 class="icon-box-title text-theme-colored">Yoxlama Testləri</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card__back" data-bg-color="#202c45">
                                <div class="card__text">
                                    <div class="display-table-parent p-30">
                                        <div class="display-table">
                                            <div class="display-table-cell">
                                                <h3 class="text-theme-color-2">Yoxlama Testləri</h3>
                                                <p class="text-gray-lightgray">Hər üç fənn üzrə özünüzü sınamaq üçün yoxlama testləri vardır. Testlər həm açıq, həm də qapalı variantdadırlar. Testləri edərək özünüzün zəif cəhətlərinizi müəyyənləşdirə bilərsiniz.</p>
                                                <a asp-controller="Home" asp-action="Test" class="btn btn-default mt-10"> Daha Ətraflı </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /flip-box -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section class="">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                        <h2 class="text-uppercase mt-0 font-weight-600">SİZİN <span class="text-theme-colored">CLEDAcademy</span></h2>
                        <h4 class="text-gray-dimgray font-weight-400"><em>Məqsədimiz keyfiyyət və tələbə məmnuniyyətidir.</em></h4>
                        <p>
                            CLEDAcademy həm öyrənmə, həm öyrətmə fəaliyyətləri ilə məşğul olan və tələbələrin yeni bilik, bacarıq və yeni nailiyyətlər əldə etmək məqsədilə qoşulduğu onlayn tədris platformasıdır.
                        </p>
                        <p>
                            CLEDAcademy tərəfindən təklif olunan dərslər yüksək səviyyəli ekspert müəllimlər tərəfindən tədris edilir. Burada hər bir dərs istəyə uyğun olaraq seçilə bilir və yalnız ehtiyac olan bölmələrin üzərində işləməyə daha çox imkan yaranır.
                        </p>
                        <a asp-controller="Home" asp-action="About" class="btn btn-flat btn-theme-colored text-uppercase mt-20 mb-sm-30 border-left-theme-color-2-4px">Daha Ətraflı</a>
                    </div>
                    <div class="col-md-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="row mb-10">
                            <div class="col-md-12">
                                <img class="img-fullwidth" src="~/images/ab1.jpg" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pr-5 pr-sm-15 mb-sm-10">
                                <img class="img-fullwidth" src="~/images/ab2.jpg" alt="">
                            </div>
                            <div class="col-md-6 pl-5 pl-sm-15">
                                <img class="img-fullwidth" src="~/images/ab3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: COURSES -->
    <section class="bg-lighter">
        <div class="container pb-60">
            <div class="section-title mb-10">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="mt-0 text-uppercase font-28 line-bottom line-height-1">BİZİM <span class="text-theme-color-2 font-weight-400">Kurslar</span></h2>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel-3col">
                            @foreach (var course in Model.Courses)
                            {
                                <div class="item">
                                    <div class="service-block bg-white">
                                        <div class="thumb">
                                            @if (course.ImageUrl != null)
                                            {
                                                <img alt="featured project" src="@course.ImageUrl" class="img-fullwidth">
                                            }
                                            else
                                            {
                                                <img alt="featured project" src="http://placehold.it/265x195" class="img-fullwidth">
                                            }
                                        </div>
                                        <div class="content text-left flip p-25 pt-0">
                                            <h4 class="line-bottom mb-10">@course.Name</h4>
                                            <p>@course.Description</p>
                                            <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10" asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">Daha Ətraflı</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Divider: Funfact -->
    <section class="divider parallax layer-overlay overlay-theme-colored-9" data-bg-img="/images/bg2.jpg" data-parallax-ratio="0.7">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-smile mt-5 text-theme-color-2"></i>
                        <h2 data-animation-duration="2000" data-value="167" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h5 class="text-white text-uppercase mb-0">BİZİM TƏLƏBƏLƏR</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-note2 mt-5 text-theme-color-2"></i>
                        <h2 data-animation-duration="2000" data-value="3" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h5 class="text-white text-uppercase mb-0">BİZİM KURSLAR</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-users mt-5 text-theme-color-2"></i>
                        <h2 data-animation-duration="2000" data-value="3" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h5 class="text-white text-uppercase mb-0">BİZİM MÜƏLLİMLƏR</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-0">
                    <div class="funfact text-center">
                        <i class="pe-7s-cup mt-5 text-theme-color-2"></i>
                        <h2 data-animation-duration="2000" data-value="2" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h5 class="text-white text-uppercase mb-0">MÜKAFATLARIMIZ</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: team -->
    @*<section>
            <div class="container pb-0">
                <div class="section-title mb-10">
                    <div class="row">
                        <div class="col-md-8">
                            <h2 class="mt-0 text-uppercase font-28 line-bottom line-height-1">BİZİM <span class="text-theme-color-2 font-weight-400">MÜƏLLİMLƏRİMİZ</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row mtli-row-clearfix">
                    <div class="col-md-12">
                        <div class="owl-carousel-3col">
                            @foreach (var teacher in Model.Teachers)
                            {
                                <div class="item">
                                    <div class="team-members maxwidth400">
                                        <div class="team-thumb">
                                            @if (teacher.ImageUrl != null)
                                            {
                                                <img class="img-fullwidth" alt="@teacher.FullName" src="@teacher.ImageUrl">
                                            }
                                            else
                                            {
                                                <img class="img-fullwidth" alt="" src="http://placehold.it/260x230">
                                            }
                                        </div>
                                        <div class="team-bottom-part border-bottom-theme-color-2-2px bg-lighter border-1px text-center p-10 pt-20 pb-10">
                                            <h4 class="font-raleway font-weight-600 m-0"><a class="text-theme-color-2" asp-controller="Home" asp-action="TeacherDetails" asp-route-id="@teacher.Id">@teacher.FullName</a></h4>
                                            <h5 class="text-theme-color">@teacher.Profession</h5>
                                            <ul class="styled-icons icon-sm icon-dark icon-theme-colored">
                                                <li><a href="@teacher.FacebookProfile"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="@teacher.TwitterProfile"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="@teacher.SkypeProfile"><i class="fa fa-skype"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br />
    *@
    <!-- Divider: testimonials -->
    @*<section class="divider parallax layer-overlay overlay-theme-colored-9" data-background-ratio="0.5" data-bg-img="/images/bg2.jpg">
            <div class="container pb-50">
                <div class="section-title">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="font-weight-300 m-0 text-gray-lightgray">Happy Student</h5>
                            <h2 class="mt-0 mb-0 text-uppercase line-bottom text-white font-28">Testimonials<span class="font-30 text-theme-color-2">.</span></h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-10">
                        <div class="owl-carousel-2col boxed" data-dots="true">
                            <div class="item">
                                <div class="testimonial pt-10">
                                    <div class="thumb pull-left mb-0 mr-0 pr-20">
                                        <img width="75" class="img-circle" alt="" src="http://placehold.it/100x100">
                                    </div>
                                    <div class="ml-100 ">
                                        <h4 class="text-white mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</h4>
                                        <p class="author mt-20">- <span class="text-theme-color-2">Catherine Grace,</span> <small><em class="text-gray-lightgray">CEO apple.inc</em></small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial pt-10">
                                    <div class="thumb pull-left mb-0 mr-0 pr-20">
                                        <img width="75" class="img-circle" alt="" src="http://placehold.it/100x100">
                                    </div>
                                    <div class="ml-100 ">
                                        <h4 class="text-white mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</h4>
                                        <p class="author mt-20">- <span class="text-theme-color-2">Catherine Grace,</span> <small><em class="text-gray-lightgray">CEO apple.inc</em></small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial pt-10">
                                    <div class="thumb pull-left mb-0 mr-0 pr-20">
                                        <img width="75" class="img-circle" alt="" src="http://placehold.it/100x100">
                                    </div>
                                    <div class="ml-100 ">
                                        <h4 class="text-white mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</h4>
                                        <p class="author mt-20">- <span class="text-theme-color-2">Catherine Grace,</span> <small><em class="text-gray-lightgray">CEO apple.inc</em></small></p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial pt-10">
                                    <div class="thumb pull-left mb-0 mr-0 pr-20">
                                        <img width="75" class="img-circle" alt="" src="http://placehold.it/100x100">
                                    </div>
                                    <div class="ml-100 ">
                                        <h4 class="text-white mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</h4>
                                        <p class="author mt-20">- <span class="text-theme-color-2">Catherine Grace,</span> <small><em class="text-gray-lightgray">CEO apple.inc</em></small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    <!-- end main-content -->
    @if (!User.Identity.IsAuthenticated)
    {
        <!-- Register Alert Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Faydalı Məlumat</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Hörmətli istifadəçi! Nəzərinizə çatdırmaq istəyirik ki, saytımızın bütün imkanlarından istifadə etmək üçün qeydiyyatdan keçməyiniz tələb
                            olunur. Qeydiyyatdan keçmək üçün aşağıdakı keçiddən istifadə edin. <br />
                            <div class="text-center">
                                <a class="btn-link centered" asp-controller="Account" asp-action="Register">İndi Qeydiyyatdan Keç</a>
                            </div>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Bağla</button>
                    </div>
                </div>

            </div>
        </div>
    }
</div>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
      (Load Extensions only on Local File Systems !
       The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="~/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            $('#myModal').modal('show');
        }, 3000);
       
    });
</script>