@using CledAcademy.Core.Domain
@model CledAcademy.Web.Models.ViewModels.AccountViewModels.AccountViewModel

@{
    ViewData["Title"] = "Mənim Hesabım";
    var student = (Student)ViewBag.Student;
}

<!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/images/bg3.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white">Mənim Hesabım</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="http://www.cledacademy.com">CledAcademy.Com</a></li>
                            <li class="active text-gray-silver"><a style="color: #c0c0c0 !important" asp-controller="Account" asp-action="Index">Mənim Hesabım</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Doctor Details -->
    <section class="">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-sx-12 col-sm-4 col-md-4">
                        <div class="doctor-thumb">
                            <img src="~/images/profile.png" alt="Profile">
                        </div>
                        <div class="info p-20 bg-black-333">
                            <h4 class="text-uppercase text-white">@student.Person.FirstName @student.Person.LastName</h4>
                            <a class="btn btn-info btn-flat mt-10 mb-sm-30" asp-controller="Account" asp-action="Edit">Redaktə Et</a>
                            <a class="btn btn-danger btn-flat mt-10 mb-sm-30" href="#" onclick="document.getElementById('logoutForm').submit();">Hesabdan Çıxış</a>
                            <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm"></form>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <div class="font-15 text-uppercase">
                            <span>Carİ Balansınız: <span class="required-star">@student.Balance.ToString("0.00")</span> ₼</span> <a class="btn btn-link" asp-controller="Account" asp-action="Pay">Balansınızı artırın</a>
                        </div>
                        <br/>
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab" class="font-15 text-uppercase">SİFARİŞLƏR <span class="badge">@Model.StudentOrders.Count()</span></a></li>
                                <li role="presentation"><a href="#free-orders" aria-controls="free-orders" role="tab" data-toggle="tab" class="font-15 text-uppercase">Balans artırmaları <span class="badge">@Model.AccountTopUps.Count()</span></a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="orders">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th>Nömrəsi</th>
                                                <th>Vaxtı</th>
                                                <th>Növü</th>
                                                <th>Adı</th>
                                                <th>Məbləğ</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var studentOrder in Model.StudentOrders)
                                            {
                                                <tr>
                                                    <th scope="row">#@studentOrder.Id</th>
                                                    <td>@studentOrder.DateTime.ToString("dd/MM/yyyy HH:mm")</td>
                                                    <td>@studentOrder.OrderType</td>
                                                    <td>@studentOrder.Name</td>
                                                    <td>@studentOrder.Price.ToString("0.00") ₼</td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="free-orders">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Nömrəsi</th>
                                            <th>Vaxtı</th>
                                            <th>Ödəniş Növü</th>
                                            <th>Statusu</th>
                                            <th>Məbləğ</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var accountTopUp in Model.AccountTopUps)
                                        {
                                            <tr>
                                                <th scope="row">#@accountTopUp.Id</th>
                                                <td>@accountTopUp.DateTime.ToString("dd/MM/yyyy HH:mm")</td>
                                                <td>@accountTopUp.PaymetOrigin.ToString()</td>
                                                <td>
                                                   @if (accountTopUp.StatusCode.Split('-')[0] == "1")
                                                   {
                                                       <span style="color: green;">Uğurlu</span>
                                                   }
                                                   else
                                                   {
                                                    <span class="required-star">Uğursuz</span>
                                                   }
                                                </td>
                                                <td>@accountTopUp.Amount.ToString("0.00") ₼</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- end main-content -->